# Exploratory Data Analysis

What can we do in this part?
1. Check variables
2. Check outliers
3. Check the relationship of dependent variables and independent variables
4. Check outliers
5. Data transformation
6. Clean the data or fill in the NA's  (https://www.kaggle.com/meikegw/filling-up-missing-values)
7. Convert categorical data into dummies

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns
from scipy.stats import norm
from scipy import stats
from collections import Counter
%matplotlib inline

In [61]:
train = pd.read_csv("train.csv")
train = train.iloc[:,1:] # delete the Id column of testing data
test = pd.read_csv("test.csv")
test = test.iloc[:,1:] # delete the ID column of testing data

In [62]:
test.shape

(1459, 79)

In [63]:
test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [64]:
test.columns

Index([u'MSSubClass', u'MSZoning', u'LotFrontage', u'LotArea', u'Street',
       u'Alley', u'LotShape', u'LandContour', u'Utilities', u'LotConfig',
       u'LandSlope', u'Neighborhood', u'Condition1', u'Condition2',
       u'BldgType', u'HouseStyle', u'OverallQual', u'OverallCond',
       u'YearBuilt', u'YearRemodAdd', u'RoofStyle', u'RoofMatl',
       u'Exterior1st', u'Exterior2nd', u'MasVnrType', u'MasVnrArea',
       u'ExterQual', u'ExterCond', u'Foundation', u'BsmtQual', u'BsmtCond',
       u'BsmtExposure', u'BsmtFinType1', u'BsmtFinSF1', u'BsmtFinType2',
       u'BsmtFinSF2', u'BsmtUnfSF', u'TotalBsmtSF', u'Heating', u'HeatingQC',
       u'CentralAir', u'Electrical', u'1stFlrSF', u'2ndFlrSF', u'LowQualFinSF',
       u'GrLivArea', u'BsmtFullBath', u'BsmtHalfBath', u'FullBath',
       u'HalfBath', u'BedroomAbvGr', u'KitchenAbvGr', u'KitchenQual',
       u'TotRmsAbvGrd', u'Functional', u'Fireplaces', u'FireplaceQu',
       u'GarageType', u'GarageYrBlt', u'GarageFinish', u'GarageCars',
       u'GarageArea', u'GarageQual', u'GarageCond', u'PavedDrive',
       u'WoodDeckSF', u'OpenPorchSF', u'EnclosedPorch', u'3SsnPorch',
       u'ScreenPorch', u'PoolArea', u'PoolQC', u'Fence', u'MiscFeature',
       u'MiscVal', u'MoSold', u'YrSold', u'SaleType', u'SaleCondition'],
      dtype='object')

In [65]:
test.describe()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,52.619342,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,176.753926,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,20.000000,NaN,7391.000000,5.000000,5.000000,1953.000000,1963.000000,NaN,NaN,NaN,...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,50.000000,NaN,9399.000000,6.000000,5.000000,1973.000000,1992.000000,NaN,NaN,NaN,...,NaN,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,70.000000,NaN,11517.500000,7.000000,6.000000,2001.000000,2004.000000,NaN,NaN,NaN,...,NaN,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,1526.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

From the summary statistics, there are missing values in numerical variables in the dataset.

In [66]:
print "Numerical variables include: \n", test.iloc[:,:-1].select_dtypes(include = ['float64', 'int64']).columns
numeric_var = test.iloc[:,:-1].select_dtypes(include = ['float64', 'int64'])

Numerical variables include:
Index([u'MSSubClass', u'LotFrontage', u'LotArea', u'OverallQual',
       u'OverallCond', u'YearBuilt', u'YearRemodAdd', u'MasVnrArea',
       u'BsmtFinSF1', u'BsmtFinSF2', u'BsmtUnfSF', u'TotalBsmtSF', u'1stFlrSF',
       u'2ndFlrSF', u'LowQualFinSF', u'GrLivArea', u'BsmtFullBath',
       u'BsmtHalfBath', u'FullBath', u'HalfBath', u'BedroomAbvGr',
       u'KitchenAbvGr', u'TotRmsAbvGrd', u'Fireplaces', u'GarageYrBlt',
       u'GarageCars', u'GarageArea', u'WoodDeckSF', u'OpenPorchSF',
       u'EnclosedPorch', u'3SsnPorch', u'ScreenPorch', u'PoolArea', u'MiscVal',
       u'MoSold', u'YrSold'],
      dtype='object')

In [67]:
print "Categorical variables include:\n", test.select_dtypes(include = ['object']).columns
cate_var = test.select_dtypes(include = ['object'])

Categorical variables include:
Index([u'MSZoning', u'Street', u'Alley', u'LotShape', u'LandContour',
       u'Utilities', u'LotConfig', u'LandSlope', u'Neighborhood',
       u'Condition1', u'Condition2', u'BldgType', u'HouseStyle', u'RoofStyle',
       u'RoofMatl', u'Exterior1st', u'Exterior2nd', u'MasVnrType',
       u'ExterQual', u'ExterCond', u'Foundation', u'BsmtQual', u'BsmtCond',
       u'BsmtExposure', u'BsmtFinType1', u'BsmtFinType2', u'Heating',
       u'HeatingQC', u'CentralAir', u'Electrical', u'KitchenQual',
       u'Functional', u'FireplaceQu', u'GarageType', u'GarageFinish',
       u'GarageQual', u'GarageCond', u'PavedDrive', u'PoolQC', u'Fence',
       u'MiscFeature', u'SaleType', u'SaleCondition'],
      dtype='object')

## Check for missing values (also fill in)

In [132]:
total = test.isnull().sum().sort_values(ascending=False)
percent = (test.isnull().sum()/test.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data[missing_data.Total > 0]

Empty DataFrame
Columns: [Total, Percent]
Index: []

#### PoolQC 

It is pool quality which is related to PoolArea: Pool area in square feet. We can maybe match the data of these two variables and try to fill the missing values

In [69]:
Counter(test[test.PoolQC.isnull() == True].loc[:,["PoolQC","PoolArea"]].PoolArea)

Counter({0: 1453, 368: 1, 444: 1, 561: 1})

When PoolQC is missing, the corresponding pool area are all zero. Therefore, we can consider to fill the missing value by 0.

In [70]:
test.PoolQC = test.PoolQC.fillna("No")

#### MiscFeature
This repersent that miscellaneous feature not covered in other categories. From the data description, NA here is equivalent to "None". We can consider to change it to "none".

In [71]:
Counter(test.MiscFeature)

Counter({nan: 1408, 'Gar2': 3, 'Othr': 2, 'Shed': 46})

In [72]:
test.MiscFeature = test.MiscFeature.fillna("None")

#### Alley : Type of alley access to property

The missing values here implies no alley access. We can consider to fill the missing value by "No"

In [73]:
Counter(test.Alley)

Counter({nan: 1352, 'Grvl': 70, 'Pave': 37})

In [74]:
test.Alley = test.Alley.fillna("No")

#### Fence

NA implies no fence.

In [75]:
Counter(test.Fence)

Counter({nan: 1169, 'GdPrv': 59, 'GdWo': 58, 'MnPrv': 172, 'MnWw': 1})

In [76]:
test.Fence = test.Fence.fillna("No")

#### FireplaceQu

NA impleis No Fireplace

In [77]:
Counter(test.FireplaceQu)

Counter({nan: 730, 'Ex': 19, 'Fa': 41, 'Gd': 364, 'Po': 26, 'TA': 279})

In [78]:
test.FireplaceQu = test.FireplaceQu.fillna("No")

#### LotFrontage

still not figure out how to fill it in.

In [41]:
#train['LotFrontage'][train.LotFrontage.isnull() == True]
#train[train.LotFrontage.isnull() == True].loc[:,["LotFrontage","LotArea"]]

#### GarageType, GarageCond, GarageFinish, GarageQual, GarageYrBlt

They have the same amoubt of missing value

Based on the data frame, if the missing values present, it implies no garage. 

For the categorical variable, we could set it to be "None"
For the continuous variable, we could set it to be 0.

In [79]:
garage_cols=['GarageType','GarageQual','GarageCond','GarageYrBlt','GarageFinish','GarageCars','GarageArea']
test[garage_cols][test['GarageType'].isnull()==True]

,GarageType,GarageQual,GarageCond,GarageYrBlt,GarageFinish,GarageCars,GarageArea
53,NaN,NaN,NaN,NaN,NaN,0.0,0.0
71,NaN,NaN,NaN,NaN,NaN,0.0,0.0
79,NaN,NaN,NaN,NaN,NaN,0.0,0.0
92,NaN,NaN,NaN,NaN,NaN,0.0,0.0
96,NaN,NaN,NaN,NaN,NaN,0.0,0.0
98,NaN,NaN,NaN,NaN,NaN,0.0,0.0
100,NaN,NaN,NaN,NaN,NaN,0.0,0.0
130,NaN,NaN,NaN,NaN,NaN,0.0,0.0
133,NaN,NaN,NaN,NaN,NaN,0.0,0.0
134,NaN,NaN,NaN,NaN,NaN,0.0,0.0
154,NaN,NaN,NaN,NaN,NaN,0.0,0.0
155,NaN,NaN,NaN,NaN,NaN,0.0,0.0
257,NaN,NaN,NaN,NaN,NaN,0.0,0.0
261,NaN,NaN,NaN,NaN,NaN,0.0,0.0
327,NaN,NaN,NaN,NaN,NaN,0.0,0.0
348,NaN,NaN,NaN,NaN,NaN,0.0,0.0
350,NaN,NaN,NaN,NaN,NaN,0.0,0.0
351,NaN,NaN,NaN,NaN,NaN,0.0,0.0
359,NaN,NaN,NaN,NaN,NaN,0.0,0.0
362,NaN,NaN,NaN,NaN,NaN,0.0,0.0
371,NaN,NaN,NaN,NaN,NaN,0.0,0.0
374,NaN,NaN,NaN,NaN,NaN,0.0,0.0
376,NaN,NaN,NaN,NaN,NaN,0.0,0.0
379,NaN,NaN,NaN,NaN,NaN,0.0,0.0
387,NaN,NaN,NaN,NaN,NaN,0.0,0.0
433,NaN,NaN,NaN,NaN,NaN,0.0,0.0
550,NaN,NaN,NaN,NaN,NaN,0.0,0.0
621,NaN,NaN,NaN,NaN,NaN,0.0,0.0
630,NaN,NaN,NaN,NaN,NaN,0.0,0.0
633,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...
938,NaN,NaN,NaN,NaN,NaN,0.0,0.0
939,NaN,NaN,NaN,NaN,NaN,0.0,0.0
962,NaN,NaN,NaN,NaN,NaN,0.0,0.0
966,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1092,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1093,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1097,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1115,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1119,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1143,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1149,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1231,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1233,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1248,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1307,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1311,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1329,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1331,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1339,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1399,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1402,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1410,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1428,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1431,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1432,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1433,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1449,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1453,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1454,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1457,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [80]:
garage_cate =['GarageType','GarageFinish','GarageQual','GarageCond',]
garage_cont = ['GarageYrBlt']
test[garage_cate] = test[garage_cate].fillna("None")
test[garage_cont] = test[garage_cont].fillna(0)

#### BsmtFinType2, BsmtExposure, BsmtQual, BsmtCond, BsmtFinType1

BsmtFinType2 and BsmtExposure have 38 missing values
the other have 37 missing values

For BsmtFinType1 and BsmtFinType2, NA implies No Basement -> BsmtFinSF1 and BsmtFinSF2 = 0
For BsmtQual, BsmtExposure and BsmtCond, NA implies No Basement

In [81]:
basement_cols=['BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','BsmtFinSF1','BsmtFinSF2']
test[basement_cols][test['BsmtQual'].isnull()==True]

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,BsmtFinSF1,BsmtFinSF2
125,NaN,NaN,NaN,NaN,NaN,0.0,0.0
133,NaN,NaN,NaN,NaN,NaN,0.0,0.0
269,NaN,NaN,NaN,NaN,NaN,0.0,0.0
318,NaN,NaN,NaN,NaN,NaN,0.0,0.0
354,NaN,NaN,NaN,NaN,NaN,0.0,0.0
387,NaN,NaN,NaN,NaN,NaN,0.0,0.0
388,NaN,NaN,NaN,NaN,NaN,0.0,0.0
396,NaN,NaN,NaN,NaN,NaN,0.0,0.0
397,NaN,NaN,NaN,NaN,NaN,0.0,0.0
398,NaN,NaN,NaN,NaN,NaN,0.0,0.0
400,NaN,NaN,NaN,NaN,NaN,0.0,0.0
455,NaN,NaN,NaN,NaN,NaN,0.0,0.0
590,NaN,NaN,NaN,NaN,NaN,0.0,0.0
606,NaN,NaN,NaN,NaN,NaN,0.0,0.0
608,NaN,NaN,NaN,NaN,NaN,0.0,0.0
660,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,NaN,NaN,NaN,NaN,NaN,0.0,0.0
728,NaN,NaN,NaN,NaN,NaN,0.0,0.0
729,NaN,NaN,NaN,NaN,NaN,0.0,0.0
730,NaN,NaN,NaN,NaN,NaN,0.0,0.0
733,NaN,NaN,NaN,NaN,NaN,0.0,0.0
756,NaN,NaN,NaN,NaN,NaN,0.0,0.0
757,NaN,Fa,No,Unf,Unf,0.0,0.0
758,NaN,TA,No,Unf,Unf,0.0,0.0
764,NaN,NaN,NaN,NaN,NaN,0.0,0.0
927,NaN,NaN,NaN,NaN,NaN,0.0,0.0
975,NaN,NaN,NaN,NaN,NaN,0.0,0.0
992,NaN,NaN,NaN,NaN,NaN,0.0,0.0
993,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1030,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1038,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1087,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1092,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1104,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1118,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1139,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1242,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1303,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1306,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1343,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1344,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1364,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1431,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1444,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [45]:
test.iloc[948][basement_cols]
# NA here implies no basement

BsmtQual         TA
BsmtCond         TA
BsmtExposure     No
BsmtFinType1    Unf
BsmtFinType2    Unf
BsmtFinSF1        0
BsmtFinSF2        0
Name: 948, dtype: object

In [46]:
test.iloc[332][basement_cols]
# don't have idea how to fix it

BsmtQual         TA
BsmtCond         Fa
BsmtExposure     No
BsmtFinType1    BLQ
BsmtFinType2    Rec
BsmtFinSF1      872
BsmtFinSF2       60
Name: 332, dtype: object

In [83]:
basement_numeric = ['BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2']
test[basement_numeric] = test[basement_numeric].fillna("None")
test['BsmtFinSF1'] = test['BsmtFinSF1'].fillna(0)
test['BsmtFinSF2'] = test['BsmtFinSF2'].fillna(0)

#### MasVnrArea, MasVnrType

In [84]:
test[['MasVnrType','MasVnrArea']][test['MasVnrType'].isnull()==True]

     MasVnrType  MasVnrArea
231         NaN         NaN
246         NaN         NaN
422         NaN         NaN
532         NaN         NaN
544         NaN         NaN
581         NaN         NaN
851         NaN         NaN
865         NaN         NaN
880         NaN         NaN
889         NaN         NaN
908         NaN         NaN
1132        NaN         NaN
1150        NaN       198.0
1197        NaN         NaN
1226        NaN         NaN
1402        NaN         NaN

In [85]:
Counter(test.MasVnrType)
test.MasVnrType = test.MasVnrType.fillna("None")
test.MasVnrArea= test.MasVnrArea.fillna(0)
#Maybe the missing value of can be MasVnrType replace by the mode and the NA of MasVnrArea could be 0?

#### Electrical

In [86]:
Counter(test.Electrical)
# Maybe we could use SBrkr to replace the missing value

Counter({'FuseA': 94, 'FuseF': 23, 'FuseP': 5, 'SBrkr': 1337})

In [87]:
test.Electrical = test.Electrical.fillna("SBrkr")

#### MSZoning

In [89]:
Counter(test.MSZoning)

Counter({nan: 4, 'C (all)': 15, 'FV': 74, 'RH': 10, 'RL': 1114, 'RM': 242})

In [90]:
test.MSZoning = test.MSZoning.fillna("RL")

#### Utilities

In [93]:
test.Utilities = test.Utilities.fillna("AllPub")

#### Functional

In [95]:
test.Functional = test.Functional.fillna("Typ")

#### BsmtFullBath, BsmtHalfBath

In [104]:
test[["BsmtFullBath","BsmtHalfBath"]][test["BsmtFullBath"].isnull()==True]
test.BsmtFullBath = test.BsmtFullBath.fillna(np.mean(test.BsmtFullBath))
test.BsmtFullBath = test.BsmtFullBath.fillna(np.mean(test.BsmtHalfBath))

#### TotalBsmtSF

In [108]:
test.TotalBsmtSF = test.TotalBsmtSF.fillna(np.mean(test.TotalBsmtSF))

#### KitchenQual

In [111]:
KitchenQual = test.KitchenQual.fillna("TA")

#### SaleType

In [113]:
test.SaleType = test.SaleType.fillna("WD")

In [117]:
test[["Exterior1st","Exterior2nd"]] = test[["Exterior1st","Exterior2nd"]].fillna("VinylSd")

#### GarageCars, GarageArea

In [119]:
test[["GarageCars","GarageArea"]] = test[["GarageCars","GarageArea"]].fillna(0)

In [ ]:
BsmtHalfBath	2	0.001371
KitchenQual	1	0.000685
BsmtUnfSF

#### KitchenQual

In [125]:
test.KitchenQual = test.KitchenQual.fillna("TA")

#### BsmtHalfBath

In [126]:
test.BsmtHalfBath = test.BsmtHalfBath.fillna(np.mean(test.BsmtHalfBath))

#### BsmtUnfSF

In [128]:
test.BsmtUnfSF = test.BsmtUnfSF.fillna(np.mean(test.BsmtUnfSF))

#### LotFrontage

In [130]:
np.mean(test.LotFrontage)

68.58035714285714

In [131]:
test.LotFrontage = test.LotFrontage.fillna(np.mean(test.LotFrontage))

In [133]:
test.to_csv("test_noNA.csv")

In [134]:
del(test)
test = pd.read_csv("test_noNA.csv").iloc[:,1:]
test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,No,Reg,Lvl,AllPub,Inside,...,120,0,No,MnPrv,None,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,No,IR1,Lvl,AllPub,Corner,...,0,0,No,No,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,No,IR1,Lvl,AllPub,Inside,...,0,0,No,MnPrv,None,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,No,IR1,Lvl,AllPub,Inside,...,0,0,No,No,None,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,No,IR1,HLS,AllPub,Inside,...,144,0,No,No,None,0,1,2010,WD,Normal

## Dummy Variables

In [135]:
dummy = pd.get_dummies(test,drop_first = True)

In [136]:
dummy.shape

(1459, 241)

In [137]:
dummy.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,20,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,20,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,60,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,60,78.0,9978,6,6,1998,1998,20.0,602.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,120,43.0,5005,8,5,1992,1992,0.0,263.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [138]:
dummy.to_csv("dummt_test_transformed.csv")

In [166]:
dummy.shape

(1459, 241)

In [146]:
train = pd.read_csv("dummt_transformed.csv").iloc[:,1:]

In [165]:
train.shape

(1460, 260)

In [163]:
missing_column = [i for i in train.columns if i not in list(set(train.columns).intersection(dummy.columns))][1:]

In [168]:
np.zeros(dummy.shape[0]).shape

(1459,)

In [171]:
for i in missing_column:
    dummy[i] = pd.Series(np.zeros(dummy.shape[0]), index=dummy.index)

In [172]:
dummy.shape

(1459, 259)

In [174]:
dummy.to_csv("dummt_test_transformed.csv")